/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  letter-spacing: 2px;
  line-height: 2rem;
}

.img-box {
  width: 200px;
  max-width: 25%;
  height: 200px;
  margin: 1rem 0 0 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-box__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center -10px;
  background-size: cover;
  background-image: url("../images/pic.jpeg");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-animation: moveInLeft 2s ease-out;
  animation: moveInLeft 2s ease-out;
  z-index: 1;
}

.about-content__text {
  width: 75%;
  height: 100%;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 1.25rem;
  text-align: left;
  -webkit-animation: moveInRight 2s ease-out;
  animation: moveInRight 2s ease-out;
  padding-left: 50px;
}
.about-content__text h1,
.about-content__text h3 {
  font-size: 3rem;
  font-weight: bold;
  color: gray;
  text-align: center;
  margin-bottom: 1.5rem;
}
.about-content__text-skills {
  font-size: 0.75rem;
  text-align: center;
  /* color: rgb(112, 110, 110); */
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  /* 
  80% {
    transform: translateX(1rem);
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  /* 
  80% {
    transform: translateX(1rem);
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  /* 
  80% {
    transform: translateX(-1rem);
  } */

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  /* 
  80% {
    transform: translateX(-1rem);
  } */

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media (max-width: 57rem) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-content__text p {
    text-align: justify;
  }
  .about-content__text {
    margin: 1rem;
    width: 90%;
  }

  @-webkit-keyframes moveInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10rem);
      transform: translateX(-10rem);
    }

    80% {
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10rem);
      transform: translateX(-10rem);
    }

    80% {
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  @-webkit-keyframes moveInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10rem);
      transform: translateX(10rem);
    }

    80% {
      -webkit-transform: translateX(-1rem);
      transform: translateX(-1rem);
    }

    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10rem);
      transform: translateX(10rem);
    }

    80% {
      -webkit-transform: translateX(-1rem);
      transform: translateX(-1rem);
    }

    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
}

@media (max-width: 45rem) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-content__text {
    font-size: 1rem;
    text-align: justify;
  }
  .about-content__text {
    margin: 1rem;
    width: 80%;
  }
  .about-content__text-skills p {
    font-size: 0.75rem;
  }
  .about-content__text h1,
  .about-content__text h3 {
    font-size: 1.75rem;
    margin: 0.2rem 0;
  }

  @-webkit-keyframes moveInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10rem);
      transform: translateX(-10rem);
    }

    80% {
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10rem);
      transform: translateX(-10rem);
    }

    80% {
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  @-webkit-keyframes moveInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10rem);
      transform: translateX(10rem);
    }

    80% {
      -webkit-transform: translateX(-1rem);
      transform: translateX(-1rem);
    }

    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10rem);
      transform: translateX(10rem);
    }

    80% {
      -webkit-transform: translateX(-1rem);
      transform: translateX(-1rem);
    }

    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
}
