/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.footer {
  margin: 1rem 0;
  font-size: 3rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  width: 100%;
  justify-content: center;
}

.footer-items__icon {
  margin: 2.4rem;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-items__email {
  font-size: 1rem;
  -webkit-animation: fadeIn 2s forwards;
  animation: fadeIn 2s forwards;
  margin: 1rem 0 1.5rem 0;
}
.footer-items__email-out {
  font-size: 1rem;
  -webkit-animation: fadeOut 2s forwards;
  animation: fadeOut 2s forwards;
  margin: 1rem 0 1.5rem 0;
}
.footer-items__email-hide {
  font-size: 1rem;
  margin: 1rem 0 1.5rem 0;
  opacity: 0;
}
.footer-items__icon-cv {
  background: white;
  border-radius: 3px;
  height: 0.9em;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .footer-items__icon {
    margin: 2rem;
  }
}

@media (max-width: 700px) {
  .footer-items__icon {
    margin: 1.5rem;
  }
}
@media (max-width: 500px) {
  .footer-items__icon {
    margin: 0.5rem;
  }
}
