.home-content {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-left: 20%;
}

.home-content__text p {
  animation: moveInLeft 2s ease-out;
}
.home-content__text h1 {
  animation: moveInRight 2s ease-out;
}

.home-content h1 {
  font-size: 6.25rem;
  margin-bottom: 0;
  background: -webkit-linear-gradient(315deg, #a40606 0%, #d98324 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-content p {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@media (max-width: 37rem) {
  /* .home-content {
    margin-left: 15%;
  } */
  .home-content h1 {
    font-size: 5.5rem;
  }

  .home-content p {
    font-size: 1.7rem;
  }
}

@media (max-width: 35rem) {
  .home-content {
    margin-left: 15%;
  }
  .home-content h1 {
    font-size: 5rem;
  }

  .home-content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 25rem) {
  .home-content {
    margin-left: 15%;
  }
  .home-content h1 {
    font-size: 4rem;
  }

  .home-content p {
    font-size: 1.2rem;
  }
}
