.home-content {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-left: 20%;
}

h1 {
  font-size: 6.25rem;
  margin-bottom: 0;
  background: -webkit-linear-gradient(315deg, #a40606 0%, #d98324 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}
