.nav-links {
  display: flex;
  flex-direction: row;
  /* justify-items: flex-end; */
  width: 53vw;
  min-width: 10rem;
  margin-bottom: 0.5rem;
}
.nav-links__group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 2rem;
}

.nav-links__link {
  text-decoration: none;
  color: white;
  margin: 0.25rem;
}

@media (max-width: 45rem) {
  .nav-links__group {
    font-size: 1.5rem;
  }
}
