/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* justify-items: flex-end; */
  width: 70vw;
  min-width: 18rem;
  margin-bottom: 0.5rem;
}
.nav-links__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 2rem;
}

.nav-links__link {
  text-decoration: none;
  color: white;
  margin: 0.25rem;
}
.nav-links__link:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 960px) {
  .nav-links {
    width: 85vw;
  }
}

@media (max-width: 45rem) {
  .nav-links__group {
    font-size: 1.5rem;
  }
}
@media (max-width: 45rem) {
  .nav-links__group {
    font-size: 1.2rem;
  }
}
