.projects-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 60vw;
  min-width: 25rem;
  flex-direction: column;
}
.projects-container h1 {
  font-size: 2.5rem;
  /* font-family: "Montserrat"; */
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}
