.project {
  overflow-y: auto;
  min-height: 0px;
  overflow-x: auto;
}
.project-image__container {
  width: 22rem;
  height: 18rem;
  background-color: rgb(36, 36, 36);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.project-image__container img {
  width: 20rem;
  height: 16rem;
  border-radius: 10px;
}
